<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <lang="eng">
  <title>Nelisa's spaza shop</title>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="stylesheet.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <style>
    
    button{
      padding-left: 10px;
      margin-left: 10px;
      float-left: 15px;
    }

  </style>

</head>
<body>

      <h1><strong>Nelisa's spaza shop App</strong></h1> 
    <div id="container">
<!-- Standard button -->
<button><a href="/products">Product list</a></button>
<!--<a class="btn btn-default" href="/popular_products" role="button">Product list</a> -->

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button><a href="/popular_product">Most popular product</a></button>

<!-- Indicates a successful or positive action -->
<button><a href="/least_popular">Least popular product</a></button>

<!-- Contextual button for informational alert messages -->
<button><a href="/categories">Product category</a></button>

<!-- Indicates caution should be taken with this action -->
<button><a href="/most_popular_cat">Most popular category</a></button>

<!-- Indicates a dangerous or potentially negative action -->
<button><a href="/least_popular_cat">Least popular category</a></button>

<button><a href="/sales_history">Sales History</a></button>


   </div>
{{{body}}}
</body>
</html>
